.App-login {
    /*background-image: linear-gradient(#025161, #025161);*/
    background-image: linear-gradient(#5F5CAB, #5F5CAB);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: white;
  }
  
  .App-login-container {
    width: 235px;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #025161;
  }